aws_credentials_file = ["./.aws/credentials"]
aws_profile = ""
aws_region = "eu-west-1"
databricks_host = ""
databricks_account_id = ""
databricks_client_id = ""
databricks_client_secret = ""
name_prefix = "dbk-mlops-dev"
databricks_metastore = "dbk-mlops-demo-uc"
cidr_block = "10.20.0.0/16"
public_subnets_cidr = {"eu-west-1a" : "10.20.1.0/24", "eu-west-1b" : "10.20.2.0/24"}
private_subnets_cidr = {"eu-west-1a" : "10.20.3.0/24", "eu-west-1b" : "10.20.4.0/24"}
workspace_admin = ""
tags = { Owner = "" }
//pl-specific
backend_pl_subnets_cidr = {"eu-west-1a" : "10.20.5.0/24", "eu-west-1b" : "10.20.6.0/24"}
db_rest_service = "com.amazonaws.vpce.eu-west-1.vpce-svc-0da6ebf1461278016"
db_scc_relay_service = "com.amazonaws.vpce.eu-west-1.vpce-svc-09b4eb2bc775f4e8c"
vpc_network_acl_ports = [443, 3306, 6666, 2443, 8443, 8444, 8445]
