# Default ignored files
/.idea
/.DS_Store
**/.DS_Store
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
**/.aws
**/.terraform
**/*.tfvars


#aws in-progess ones

**/aws-databricks-workspace-pl
**/aws-databricks-workspace-vpc-pl-fw
**/aws-databricks-workspace-vpc-pl-fw-hub-spoke


