azure_region = "westeurope"
rg_name = "dbk-mlops-demo-stg-rg"
name_prefix = "dbk-mlops-demo-stg"
dbfs_storage_account = "dbfs4dbkmlopsdemostg"
azure_tenant_id = ""
azure_subscription_id = ""
azure_client_id = ""
azure_client_secret = ""
databricks_host = ""
databricks_account_id = ""
databricks_client_id = ""
databricks_client_secret = ""
databricks_metastore = ""
tags = { Owner = "" }
