azure_region = "westeurope"
azure_tenant_id = ""
azure_subscription_id = ""
azure_client_id = ""
azure_client_secret = ""
databricks_host = "https://accounts.azuredatabricks.net"
databricks_account_id = ""
databricks_client_id = ""
databricks_client_secret = ""
databricks_workspace_rg = "dbk-vnet-demo-rg"
databricks_workspace = "dbk-vnet-demo-workspace"
data_storage_account_rg = "dbk-vnet-demo-adls-rg"
data_storage_account = "adls4dbkvnetdemo"