azure_region = "westeurope"
rg_name = "dbk-ncc-demo-rg"
name_prefix = "dbk-ncc-demo"
azure_tenant_id = ""
azure_subscription_id = ""
azure_client_id = ""
azure_client_secret = ""
databricks_workspace = "dbk-ncc-demo-workspace"
databricks_host = ""
databricks_account_id = ""
databricks_client_id = ""
databricks_client_secret = ""
adls_sa_name = "adls4dbknccdemo"
adls_sa_rg = "dbk-ncc-demo-adls-rg"
tags = { Owner = "" }
